.site-header {
  min-height: fit-content;
  z-index: 99;

  .header-nav {
    padding: 0 !important;

    @include breakpoint-xxl-down {
      padding: 0 40px !important;
      border-top-width: 120px !important
    }
  }
}

.site-header__inner {
  width: calc(100vw + 5.625rem);
}

.site-header__fixable {
  &.is-fixed {
    max-width: 100% !important;

    @include breakpoint-xxl-up {
      .container {
        max-width: 84.375rem !important;

        .site-branding__inner {
          padding-left: 2rem;
        }

        .site-branding__logo {
          img {
            min-width: 165px;
            max-width: 165px;
          }
        }
      }
    }

    .header-nav {
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  &:not(.is-fixed) {
    @include breakpoint-md-up {
      .site-header__inner {
        width: 100%;
      }

      .site-branding {
        width: fit-content;
        min-width: unset;
        min-height: auto;
        height: fit-content;
        padding: 30px 0 !important;
        margin: 0 20px 0 0;
        background: #fff;
      }

      .site-branding__inner {
        height: auto !important;
        padding: 0;
      }

      .site-branding__logo {
        img {
          min-height: unset;
          min-width: 120px;
        }
      }

      .header-nav {
        margin-top: 0;
      }
    }

    @include breakpoint-xxl-up {
      .header-nav {
        padding: 0;
      }

      @include breakpoint-xxl-down {
        .site-branding {
          margin: 0 16px 0 0;
        }

        .site-branding__inner {
          height: auto !important;
          padding: 0;
        }

        .site-branding__logo {
          img {
            min-width: 120px;
            width: 140px;
          }
        }
      }
    }

    .site-header__initial {
      display: none;
      transition: $transition;
      align-items: center;
    }
  }

  .site-header__inner__container {
    align-items: center;
  }
}

//Main navigation
body:not(.is-always-mobile-nav) {
  .primary-nav__menu {
    margin-right: 0 !important;

    span {
      border-bottom-color: $dark-blue;
    }

    .primary-nav__menu-link {
      font-family: $font-regular;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $dark-blue;
      letter-spacing: normal;

      &::before {
        content: none;
      }

      &:hover,
      &:focus {
        outline: unset;

        @include breakpoint-xl-down {
          .primary-nav__menu-link-inner {
            &::after {
              border-color: transparent !important;
            }
          }
        }
      }
    }

    .primary-nav__menu-link-inner {
      @include breakpoint-xl-up {
        padding: 30px 0;
      }
    }

    @include breakpoint-xl-up {
      .primary-nav__menu-link {
        padding: 0;
        border-bottom: unset;
      }

      .primary-nav__menu-link-inner {

        &::after {
          border-top-width: 1px !important;
          border-color: $dark-blue;
        }
      }
    }
  }

  .primary-nav__menu-item {
    margin-right: 20px !important;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .header-nav {
    @include breakpoint-xxl-up {
      height: fit-content;
    }
  }

  // Dropdown menu
  .primary-nav__menu--level-2 {
    .primary-nav__menu-link {
      font-family: $font-second-bold;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
      letter-spacing: 0;
    }

    .primary-nav__menu--level-3 {
      .primary-nav__menu-link {
        font-family: $font-second-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0;
      }
    }

    @include breakpoint-xxl-up {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 1000px;
      max-height: fit-content;
      background-color: $main-blue;
      padding: 32px;
      border-top: 4px solid $dark-blue;
      transform: translate(-15%, 0) !important;

      &::-webkit-scrollbar {
        width: 10px;
        border-radius: 24px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 24px;
        border: 6px solid #fff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 24px;
        background-color: $dark-blue;
        outline: none;
      }

      .primary-nav__menu-item--level-2 {
        width: 45%;
        margin: 0;

        &+.primary-nav__menu-item--level-2 {
          margin-top: 32px;
        }
      }

      .primary-nav__menu-link {
        color: #fff;
      }

      .primary-nav__menu--level-3 {
        margin: 0;

        .primary-nav__menu-item--level-3 {
          margin-right: 0;

          &+.primary-nav__menu-item--level-3 {
            margin-top: 8px;
          }

          .primary-nav__menu-link {
            color: #fff;

            .primary-nav__menu-link-inner {
              padding: 0;

              &::after {
                border-color: #fff;
              }
            }
          }
        }
      }
    }

    @include breakpoint-xxl-down {
      margin-top: 0;
      margin-left: -40px;
      padding-left: 32px;
      border-left: solid 5px $dark-blue;
    }
  }
}

.site-header__initial {
  background-color: $main-blue;
  height: auto;

  .sticky-header-toggle {
    position: absolute;
    background: $main-blue;
    outline: none !important;
    width: 4rem;
    height: auto;
    padding: 37px 10px;
    border-radius: unset;
  }
}

.site-header__fixable {
  top: 0 !important;

  .site-branding {
    width: fit-content;
    min-width: unset;
    background-image: unset;
    padding: 0;
    margin: 0;
    min-height: auto;
  }

  .site-branding__logo {
    img {
      min-height: unset;
      min-width: 171px;
    }
  }

  .site-branding__inner {
    padding: 0;
    margin: 0;
    min-height: auto;
    height: auto;
  }

  .header-nav {
    justify-content: flex-start;
  }
}

@include breakpoint-xxl-down {
  .mobile-buttons {
    margin-top: 0;

    .mobile-nav-button {
      margin: 0;

      @include breakpoint-sm-up {
        padding: 40px 24px;
      }

      .mobile-nav-button__label {
        font-family: $font-second-thin;
        font-weight: 700;
        font-size: 16px;
        color: $dark-blue;
      }

      .mobile-nav-button__icon {
        border-color: $dark-blue;

        &::after,
        &::before {
          border-color: $dark-blue;
        }
      }
    }
  }
}

.primary-nav__button-toggle {
  margin-top: 0;

  .icon--menu-toggle {

    &::after,
    &::before {
      border-color: $dark-blue;
    }
  }
}

.header-primary-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .block-language-switcher-langcode-block {
    min-width: 80px;

    .links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style-type: none;
      margin-left: 0;

      .language-link {
        font-family: $font-regular;
        font-size: 16px;
        line-height: 19px;
        color: $dark-blue;
        text-transform: uppercase;
        padding: 0 8px;
        text-decoration: unset;

        &.is-active {
          font-family: $font-bold;
          text-decoration: underline;
        }

        &:hover {
          font-family: $font-bold;
        }
      }

      li+li {
        border-left: 1px solid $platinum;
      }
    }
  }
}

.search-icon {
  padding: 30px 0;
  margin-right: 20px;

  .link--title {
    position: absolute;
    display: none;
    top: -16px;
    right: -35px;
    font-family: $font-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $dark-blue;
  }

  .search-icon--link {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
    background-image:url(#{$iconpath}/search_bl.svg);
    background-color: #fff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-color: $dark-blue;
      background-image:url(#{$iconpath}/search_wh.svg);

      .link--title {
        display: block;
        -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@include breakpoint-md-up {
  @include breakpoint-xxl-down {
    .mobile-buttons {
      margin-top: 0;
      display: block !important;
    }

    body:not(.is-always-mobile-nav) {
      .header-nav {
        position: fixed;
        max-width: 40%;
        border-top: solid #fff;
        height: 100%;

        &.is-active {
          visibility: visible;
          transform: translateX(-100%);
        }
      }

      .primary-nav__menu-item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0.5625rem !important;

        .primary-nav__menu-link-inner {
          padding: 0;
        }
      }

      .primary-nav__menu--level-2 {
        border-top: 0;
        padding: 0 16px !important;
        top: 30px;
        border-radius: unset;

        &.is-active-menu-parent {
          width: 100%;
          padding: 16px !important;
        }
      }

      .primary-nav__menu {
        span {
          border-bottom: solid transparent;
        }
      }
    }

    .header-primary-menu {
      margin-bottom: auto;
    }
  }
}

@include breakpoint-xl-up {
  @include breakpoint-xxl-down {
    body:not(.is-always-mobile-nav) {
      .primary-nav__button-toggle {
        width: 30px;
        height: 30px;
        margin-right: 0 !important;

        &:focus {
          .icon--menu-toggle {
            border: unset;
          }
        }

        .icon--menu-toggle {
          width: 30px;

          &::after {
            left: 10px;
          }
        }
      }
    }
  }
}
