.mo-btn,
.button,
button {
  font-family: $font-second-bold;
  font-size: 14px;
  line-height: 19px;
  transition: $transition;
  padding: 16px 24px;
  border-radius: 4px;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: none !important;

  &:hover {
    text-decoration: underline
  }

  &:focus,
  &:focus-visible {
    outline: none !important;
    border: 0;

    &::after {
      outline: none !important;
      border: unset !important;
    }
  }
}

.btn {
  @extend .mo-btn;
}
