.national-contacts {
  .view-content {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-sm-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-lg-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .views-row {
    height: 300px;
    width: 100%;
  }

  .view-header {
    margin: 32px 0;

    h2 {
      text-align: center;

      a {
        font-family: $font-bold;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0em;
        color: $dark-blue;
        text-decoration: unset;
      }
    }

    .block__title {
      font-family: $font-bold;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0em;
      text-align: center;
      color: $dark-blue;
      margin-bottom: 0;
    }
  }
}

.view-national-contacts {
  .views-view-grid--horizontal {
    justify-content: center;

    .views-view-grid__item {
      margin: 0 !important;
      flex-basis: calc(25%);
      min-width: 300px;
    }
  }
}

.contact--teaser {
  border: 1px solid $platinum;
  margin: 0;
  height: 300px;

  .field--name-field-image {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;

    img {
      width: 192px;
      height: 192px;
      border-radius: 50%;
    }
  }

  .contact--name,
  .field--name-field-job-position {
    width: 100%;
    text-align: left;
  }

  .node-trigger {
    position: relative;
    min-width: fit-content;
    height: 300px;
    display: block;
    text-decoration: unset;
    padding: 24px;

    .contact--name {
      font-family: $font-bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .field--name-field-job-position {
      margin-bottom: 8px;
      font-family: $font-second-regular;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
      margin-top: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .field--name-field-role {
      margin-bottom: 8px;
      font-family: $font-second-regular;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
      margin-top: 16px;
    }

    .absolute-wrap {
      background-color: transparent;
      transition: 0.3s;
    }

    &:hover {
      padding: 0;
      cursor: pointer;

      .field--name-field-job-position {
        margin-top: 0;
      }

      .field--name-field-image {
        position: absolute;
        width: 100%;
        z-index: 1;

        img {
          width: 100%;
          min-height: 300px;
          object-fit: cover;
          border-radius: unset;
          -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
      }

      .absolute-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(180deg, rgba(50, 115, 195, 0.5) 0%, rgba(0, 116, 201, 0.5) 100%);
        z-index: 2;
        padding: 24px;

        .field--name-field-job-position,
        .contact--name {
          color: #fff;
        }
      }

      .arrow {
        z-index: 3;

        &:after {
          -webkit-animation: shake-horizontal 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate-reverse both;
          animation: shake-horizontal 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate-reverse both;
        }
      }
    }
  }
}

.contact--full {
  .node__content {
    display: grid;
    column-gap: 0;
    row-gap: 16px;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-lg-up {
      grid-template-columns: auto auto;
    }
  }

  .field--name-field-image {
    width: 300px;
    min-height: fit-content;
    margin-bottom: 0;

    img {
      width: 300px;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .contact--name {
    font-family: $font-second-regular;
    font-size: 14px;
    line-height: 19px;
    color: $main-blue;
  }

  .field--name-field-job-position {
    margin-bottom: 16px;

    .field__flags__item {
      font-family: $font-bold;
      font-size: 24px;
      line-height: 19px;
      color: $dark-blue;
    }
  }

  .right-info {
    padding: 32px;

    .node_view {
      display: none;
    }

    .additional-info {
      margin-top: 16px;

      .field {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 32px;
        grid-row-gap: 8px;
        margin-bottom: 14px;
        min-height: auto;
        text-align: left;

        @include breakpoint-lg-up {
          min-width: 450px;
          grid-template-columns: 25% 75%;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .field__label {
          font-family: $font-second-bold;
          font-size: 16px;
          line-height: 22px;
          color: $dark-blue;
          text-align: left;
        }

        .field__item,
        .field__item a,
        .office-hours__item-label {
          font-family: $font-second-regular;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $dark-blue;
        }

        .field__item {
          max-width: 350px;
          text-align: left;
        }

        .office-hours__item-label {
          width: auto !important;
        }
      }
    }

    .personal-info {
      .contact--name {
        font-family: $font-bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-blue;
        margin: 0;
      }

      .field--name-field-job-position {
        font-family: $font-second-regular;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-blue;
        margin-top: 16px;
      }

      .field--name-field-role {
        font-family: $font-second-regular;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-blue;
        margin-top: 16px;
      }
    }
  }
}

.national-contact--modal {
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
  padding: 0;
  border: unset !important;
  border-radius: 4px;

  .ui-dialog-titlebar {
    padding: 0;
    background: unset;
    border: unset;
  }

  .ui-dialog-title {
    display: none;
  }

  .ui-widget-content {
    padding: 0;
    background-color: $light-grey;
    border-radius: 4px;
  }

  .ui-dialog-titlebar-close {
    width: 30px;
    height: 30px;
    top: 0;
    right: -7px;
    border: 1px solid $light-grey;
    background-color: #fff;
    z-index: 101;
    border-radius: 4px;
    padding: 0;

    .ui-icon {
      width: 30px;
      height: 30px;
      top: 7px;
      left: 8px;
      background:url(#{$iconpath}/close-blue.svg) no-repeat center;
    }

    &:hover {
      border: 1px solid $main-blue;
      background-color: $main-blue;

      .ui-icon {
        background:url(#{$iconpath}/close-white.svg) no-repeat center;
      }
    }
  }
}

.ui-widget-overlay {
  background: rgba($color: $main-blue, $alpha: 0.3);
  opacity: unset;
}


.arrow {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 172px;
  right: 80px;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: 0.5s;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(#{$iconpath}/arrow-right-blue.svg);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}


@keyframes borderAni {
  0% {
    border: solid 2px $main-blue;
  }

  100% {
    border: solid 2px $main-blue;
  }
}

#block-horizon-partnersearch,
#block-partner-search {
  background-color: $light-grey;
  padding: 32px;
  margin-top: 32px;
  margin-bottom: 32px;

  .block__title {
    font-family: $font-bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 16px;
  }

  .text-content {
    font-family: $font-second-regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
  }
}

#block-partnersearchframes {
  .field--name-field-frames {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;

    @include breakpoint-sm-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-lg-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .field--name-field-frames>.field__item {
    &:first-of-type {
      background-color: $light-blue;

      &:hover {
        -webkit-box-shadow: 0px 0px 27px 0px rgba(51, 116, 182, 1);
        -moz-box-shadow: 0px 0px 27px 0px rgba(51, 116, 182, 1);
        box-shadow: 0px 0px 27px 0px rgba(51, 116, 182, 1);
      }
    }

    &:nth-child(2) {
      background-color: $green;

      &:hover {
        -webkit-box-shadow: 0px 0px 27px 0px rgba(142, 186, 84, 1);
        -moz-box-shadow: 0px 0px 27px 0px rgba(142, 186, 84, 1);
        box-shadow: 0px 0px 27px 0px rgba(142, 186, 84, 1);
      }
    }

    &:last-of-type {
      background-color: $yellow;

      &:hover {
        -webkit-box-shadow: 0px 0px 27px 0px rgba(247, 206, 70, 1);
        -moz-box-shadow: 0px 0px 27px 0px rgba(247, 206, 70, 1);
        box-shadow: 0px 0px 27px 0px rgba(247, 206, 70, 1);
      }
    }
  }

  .paragraph--type--frame-layer {
    .grid-redirect {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: unset;
      color: #fff;
      padding: 32px;
    }

    .field--name-field-main-title {
      font-family: $font-second-bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      width: fit-content;
      margin: 0 auto 32px auto;
      color: #fff;
    }

    .field--name-field-text {
      font-family: $font-second-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      color: #fff;
    }
  }

  .field--name-field-url {
    width: fit-content;
    margin: 32px auto 0 auto;

    a {
      @extend .mo-btn;
      display: block;
      border: 2px solid $main-blue;
      color: $main-blue;
      text-transform: uppercase;
      text-decoration: unset;

      &:hover,
      &:focus {
        border: 2px solid $main-blue;
        text-decoration: underline;
      }
    }
  }
}

.button-wrap {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .field--name-field-text {
    margin-bottom: 0;
  }

  .field--name-field-icon {
    display: block;
    height: fit-content;
    margin: auto 0;
    transition: 0.5s;
    overflow: hidden;
  }
}

.grid-redirect {
  &:hover {
    .field--name-field-icon {
      z-index: 3;
      -webkit-animation: pulsate-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
      animation: pulsate-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
    }
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//Search page
.path-search-page {
  .block-local-tasks-block {
    margin-top: 0;

    .tabs-wrapper {
      border: unset;
    }

    .tabs {
      width: 100%;

      .tabs__tab {
        margin-right: 32px;
      }

      .tabs__link {
        font-family: $font-second-bold;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;
        color: $dark-blue;

        &.is-active {
          color: $main-blue;

          &::after,
          &:hover::after {
            display: none;
            border: unset;
          }
        }


        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

.view-search {
  .view-header {
    margin-bottom: 16px;
    font-family: $font-second-bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    color: $dark-blue;

    @include breakpoint-md-up {
      position: absolute;
      top: -54px;
      right: 0;
      margin-bottom: 0;
    }
  }

  .view-filters {
    margin-bottom: 64px;
  }

  .views-exposed-form {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    .form-item,
    .form-actions {
      margin: 0;
    }

    .form-element--api-search-api-autocomplete {
      padding: 15px 16px 15px 52px !important;
      background-color: $light-grey;
      border: 1px solid $platinum;
      border-radius: 4px 0px 0px 4px;
      background-image:url(#{$iconpath}/search.svg);
      background-position: left 16px center;
      background-repeat: no-repeat;

      &.ui-autocomplete-loading {
        background-color: $light-grey;
        border: 1px solid $platinum;
        background-image:url(#{$iconpath}/search.svg);
        background-position: left 16px center;
        background-repeat: no-repeat;
      }

      @include breakpoint-lg-up {
        min-width: 600px;
      }
    }

    input[type="submit"] {
      border-radius: 0px 4px 4px 0px;

      &:focus {
        border: 2px solid $main-blue;
      }
    }
  }

  .default--teaser-card,
  .toolbox--teaser {
    .read-more {
      @extend .mo-btn;
      display: block;
      width: fit-content;
      border: 2px solid #fff;
      font-family: $font-second-bold;
      font-size: 14px;
      line-height: 19px;
      color: #fff;
      text-decoration: unset;
      margin-top: 32px;
      text-transform: uppercase;

      &:hover,
      &:focus {
        border: 2px solid #fff;
        text-decoration: underline;
      }
    }
  }

  .views-view-grid__item {
    width: 100%;
    min-height: 100%;

    .views-view-grid__item-inner {
      width: 100%;
      height: 100%;
    }
  }
}

//Base page tesear
.page--teaser-card {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 1px solid $platinum;
  padding: 32px;
  margin-bottom: 0;

  .page-title {
    font-family: $font-bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin: 0;
    color: $dark-blue;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .page-description {
    margin-top: 16px;

    .text-content {
      font-family: $font-regular;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      color: $dark-blue
    }
  }

  .page--node-wrap,
  .page--card {
    position: relative;
    height: 100%
  }

  .read-more {
    @extend .mo-btn;
    display: block;
    position: absolute;
    bottom: 0;
    width: fit-content;
    border: 2px solid $main-blue;
    font-family: $font-second-bold;
    font-size: 14px;
    line-height: 19px;
    color: $main-blue;
    text-decoration: unset;
    margin-top: 32px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      border: 2px solid $main-blue;
      text-decoration: underline;
    }
  }
}


//Account page
.sidebar {
  padding: 0;
}

.menu--account {
  padding-right: 16px;

  .field--name-user-picture {
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 32px;

    img {
      border-radius: 50%;
    }
  }

  .menu {
    margin: 0 0 32px 0;
    list-style: none;

    .menu__link {
      font-family: $font-second-regular;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      color: rgba($color: $dark-blue, $alpha:0.75);
      text-decoration: unset;
      position: relative;
      display: block;
      padding: 16px 16px 16px 44px;

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        left: 0;
        top: 9px;
        border-radius: 50%;
        background-color: $dark-blue;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.user--edit {
        &::before {
          background-image:url(#{$iconpath}/user_wh.svg);
        }
      }

      &.user--guide {
        &::before {
          background-size: 18px;
          background-image:url(#{$iconpath}/user-guide.svg);
        }
      }

      &.user--partner-research {
        &::before {
          background-image:url(#{$iconpath}/partner.svg);
        }
      }

      &.user--logout {
        &::before {
          background-image:url(#{$iconpath}/logout.svg);
        }
      }

      &.user--toolbox {
        &::before {
          background-image:url(#{$iconpath}/toolbox.svg);
        }
      }


    }
  }

  .menu__item {
    position: relative;
  }
}

.account-header {
  border-bottom: 1px solid $platinum;
  margin-bottom: 16px;

  .user-name {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-second-bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 8px;

    .field {
      margin-bottom: 0;
    }
  }

  .field--name-field-first-name {
    margin-right: 10px;
  }

  .user-email {
    font-family: $font-second-regular;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 16px;
  }
}

.additional-user--info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 16px;
  grid-row-gap: 32px;

  @include breakpoint-md-up {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  @include breakpoint-xl-up {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .field {
    margin-bottom: 0;
  }

  .field__label {
    font-family: $font-second-regular;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 16px;
  }

  .field__item,
  .field__item a {
    font-family: $font-second-bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
    text-decoration: unset;
  }
}

//Aboust us page
#block-abouthelinks {
  .field--name-field-url {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-sm-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-lg-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .field__item {
    border: 1px solid $platinum;

    a {
      display: block;
      padding: 32px;
      font-family: $font-regular;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-grey;
      text-decoration: unset;
    }

    &:hover {
      background-color: $main-blue;

      a {
        color: #fff;
      }
    }
  }
}

.block-views-blocknational-contacts-our-team,
.block-views-blockevents-popular-events,
#block-services,
.block-views-blockcustomers-block-1,
#block-usefulinformations {
  margin-top: 32px;

  .block__title {
    font-family: $font-bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark-blue;
    margin-bottom: 32px;
  }
}

#block-services {
  .field--name-field-grid-element {
    display: flex;
    flex-wrap: wrap;

    .field__item {
      margin-bottom: 16px;
      flex: 0 0 100%;

      &:last-of-type {
        margin-right: 0 !important;
      }

      @include breakpoint-md-up {
        flex: 2 0 calc(50% - 16px);
        margin-right: 16px;

        @include breakpoint-lg-down {
          &:nth-child(2n) {
            margin-right: 0 !important;
          }
        }
      }

      @include breakpoint-lg-up {
        flex: 2 0 calc(33% - 16px);

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

  .paragraph--type--frame-layer {
    width: 100%;
    height: 100%;
    border: 1px solid $platinum;
    padding: 32px;
    text-align: center;

    .field--type-image {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 0 auto 32px auto;
      background-color: $main-blue;
      border-radius: 50%;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .field--name-field-main-title {
      font-family: $font-bold;
      font-size: 16px;
      line-height: 22px;
      color: $dark-blue;
      margin-bottom: 32px;
      margin-right: 0;
    }

    .field--name-field-text {
      font-family: $font-second-regular;
      font-size: 14px;
      line-height: 19px;
      color: $dark-blue;
      margin-bottom: 0;
    }

    &:hover {
      background-color: $main-blue;

      .field--type-image {
        background-color: #fff;
        z-index: 3;
        -webkit-animation: pulsate-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
        animation: pulsate-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;

        svg {
          path {
            fill: $main-blue;
          }
        }
      }

      .field--name-field-main-title,
      .field--name-field-text {
        color: #fff;
      }
    }
  }
}

.view-customers {
  .slick-track {
    display: flex;
    flex-wrap: wrap;
  }

  .slick__slide {
    padding: 0 16px;
    height: inherit;
  }

  .slick__arrow {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    height: min-content;
    top: unset;
    transform: unset;
    bottom: unset;
    margin-top: 64px;

    .slick-arrow {
      display: block;
      width: fit-content;
      height: min-content;
      top: unset;
      transform: unset;
      position: relative;
      color: $main-blue;
      font-family: $font-second-bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0em;
      padding: 16px 24px;
      border: 2px solid $main-blue;
      text-decoration: unset;
      border-radius: 4px;

      &::before,
      &::after {
        content: unset;
        font-size: 0;
        color: unset;
      }

      &.slick-prev {
        left: unset;
        margin-right: 16px;
      }
    }
  }
}

.customers-carousel {
  padding: 32px;
  border: 1px solid $platinum;
  min-height: 100%;

  .field--name-field-image {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
    padding-top: 8px;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .customer-name {
    font-family: $font-second-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    margin-top: 8px;
  }
}

#block-usefulinformations {
  .field--name-body {
    margin-bottom: 32px;

    p {
      margin-bottom: 0;
      font-family: $font-second-regular;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
    }
  }

  .field--name-field-link {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-md-up {
      grid-template-columns: repeat(3, 1fr);
    }

    .field__item {
      a {
        font-family: $font-second-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $main-blue;
      }
    }
  }
}

.about-paragraphs {
  margin-bottom: 32px;

  .pillar--description {
    border: 1px solid $platinum;
    padding: 32px;
    margin-bottom: 16px;

    .field {
      margin-bottom: 0;
    }

    .pillar-header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      margin-bottom: 8px;

      @include breakpoint-sm-up {
        grid-template-columns: 32px calc(100% - 48px);
        grid-template-rows: 1fr;
      }

      .title-wrap {
        @include breakpoint-sm-up {
          margin-left: 10px;
        }
      }

      .field--name-field-subtitle {
        font-family: $font-second-regular;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0em;
        color: $dark-blue;
      }

      .field--name-field-main-title {
        font-family: $font-bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0em;
        color: $dark-blue;

        @include breakpoint-sm-down {
          font-size: 16px;
        }
      }

      .field--name-field-icon {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .field--name-field-slide-long-text {
      font-family: $font-second-bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
      margin-bottom: 8px;
    }

    .field--name-field-long-text {
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
    }
  }

  .pillar-grid-links {
    .field--name-field-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include breakpoint-lg-up {
        justify-content: center;
      }

      .field__item {
        margin-bottom: 16px;
        flex: 0 0 100%;

        &:last-of-type {
          margin-right: 0;
        }

        @include breakpoint-md-up {
          flex: 0 0 calc(50% - 16px);

          @include breakpoint-lg-down {
            &:nth-child(odd) {
              margin-right: 16px;
            }
          }
        }

        @include breakpoint-lg-up {
          flex: 0 0 calc(33% - 16px);
          margin-right: 16px;

          @include breakpoint-xl-down {
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }

        @include breakpoint-xl-up {
          flex: 0 0 calc(25.29% - 16px);

          &:nth-child(4) {
            margin-right: 0;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 32px 42px;
          font-family: $font-second-bold;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;
          color: $main-blue;
          background-color: #CDD6F1;
          border: 1px solid $platinum;
          text-decoration: unset;

          &:hover {
            background-color: $main-blue;
            color: #fff;
          }
        }
      }
    }
  }
}

#block-abouthedescription {
  margin-bottom: 32px;

  .image-with-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 16px;

    @include breakpoint-md-up {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    .field--name-field-image {
      width: auto;

      img {
        min-width: 100%;
      }
    }
  }

  .field--name-field-inline-text,
  .field--name-body {
    font-family: $font-second-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: $dark-blue;

    p {
      margin-top: 16px;
      margin-bottom: 16px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      min-width: 100%;
    }

    b,
    strong {
      font-family: $font-second-bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 16px;
      margin-bottom: 16px;
      font-family: $font-bold;
      color: $dark-blue;

      a {
        font-family: $font-bold !important;
        font-size: inherit;
      }
    }

    a {
      font-family: $font-second-regular;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0em;
      color: $main-blue;
      text-decoration: unset;
      box-shadow: unset;
      background-color: unset;

      &:hover,
      &:focus {
        text-decoration: underline;
        border: unset;
        outline: unset;
        box-shadow: unset;
        background-color: unset;
        color: $main-blue;
      }

      b,
      strong {
        font-family: $font-second-bold;
      }
    }
  }
}

.taxonomy--wrap {
  padding: 32px;
  background-color: #EEEEEE;

  h2 {
    margin: 0;
    font-family: $font-bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: $main-blue;
  }

  .field--name-field-subtitle {
    margin: 16px 0 0;
    font-family: $font-second-regular;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: $dark-blue;
  }

  .field--name-description {
    margin: 16px 0 0;

    p {
      margin-top: 0;
      margin-bottom: 16px;
      font-family: $font-second-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.path-taxonomy {
  .region--content {
    margin-bottom: 0;
  }

  .block-views-blockevents-popular-events {
    margin-top: 32px;
  }
}

.view-taxonomy-term {
  .view-header {
    margin-bottom: 32px;
  }

  .block__title {
    font-family: $font-bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark-blue;
    margin-bottom: 0;
    margin-top: 32px;
  }

  .view-content {
    margin-bottom: 0;

    .views-view-grid--horizontal {
      justify-content: center;

      .views-view-grid__item {
        margin: 0 !important;
        flex-basis: calc(25%);
        min-width: 300px;
      }
    }
  }
}

.partner-search--input--block {
  .block__content {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  form {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    .form-item,
    .form-actions {
      margin: 0;
    }

    .form-element--api-search-api-autocomplete {
      padding: 15px 16px 15px 52px !important;
      background-color: $light-grey;
      border: 1px solid $platinum;
      border-radius: 4px 0px 0px 4px;
      background-image:url(#{$iconpath}/search.svg);
      background-position: left 16px center;
      background-repeat: no-repeat;

      &.ui-autocomplete-loading {
        background-color: $light-grey;
        border: 1px solid $platinum;
        background-image:url(#{$iconpath}/search.svg);
        background-position: left 16px center;
        background-repeat: no-repeat;
      }

      @include breakpoint-lg-up {
        min-width: 600px;
      }
    }

    input[type="submit"] {
      border-radius: 0px 4px 4px 0px;

      &:focus {
        border: 2px solid $main-blue;
      }
    }
  }
}

.partner-page-search {
  .view-empty {
    width: fit-content;
    font-family: $font-second-bold;
    color: $dark-blue;
    margin: 0 auto;
    font-size: 18px;
  }
}

//Sitemap
.sitemap--menu {
  .menu {
    list-style: square;
  }

  .menu__link--link {
    display: block;
    margin-bottom: 16px;
    font-family: $font-regular;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $dark-blue;
    letter-spacing: normal;
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  .menu__link--nolink {
    display: block;
    margin-bottom: 16px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $dark-blue;
    letter-spacing: normal;
    text-decoration: unset;
    margin-bottom: 16px;
  }
}

.most-contact--block {
  width: 100%;
  background-color: $light-grey;
  border: 1px solid $platinum;
  padding: 32px;
  margin: 32px 0 0;
  text-align: center;

  .block__title {
    width: fit-content;
    margin: 0 auto 32px auto;
  }

  .block__content {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  .field {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .field--name-field-email,
  .field--type-telephone,
  .field--name-field-address,
  .field--name-field-code,
  .field--name-field-contact,
  .field--name-field-web {
    display: flex;
    flex-wrap: wrap;
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .field__label {
      min-width: 100px;
      position: relative;
      font-family: $font-second-bold;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-blue;
      margin-right: 32px;
    }

    .field__item,
    .field__item a {
      font-family: $font-second-regular;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0em;
      color: $dark-blue;
      text-decoration: unset;
    }
  }

  .field--name-field-email {
    &::before {
      background-image:url(#{$iconpath}/mail.svg);
    }
  }

  .field--type-telephone {
    &::before {
      background-image:url(#{$iconpath}/phone_bl.svg);
    }
  }

  .field--name-field-contact {
    &::before {
      background-image:url(#{$iconpath}/user.svg);
    }
  }

  .field--name-field-address {
    &::before {
      background-image:url(#{$iconpath}/map-pin.svg);
    }
  }

  .field--name-field-code {
    &::before {
      background-image:url(#{$iconpath}/hexagon.svg);
    }
  }

  .field--name-field-web {
    &::before {
      background-image:url(#{$iconpath}/link-2.svg);
    }
  }
}
